.bodybg {
    background-image: linear-gradient(to bottom, rgba(42, 85, 171, .75), rgba(42, 85, 171, .75)), url(bg.svg);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}

.info {
    background-color: #009367;
}

.white {
    background-color: rgba(255, 255, 255, .25);
}

.white p:last-child {
    margin-bottom: 0;
}

.mh100 {
    max-height: 100%;
    overflow: auto;
}
